---
// Component Imports
import Counter from '../components/Counter';
import Layout from '../layouts/Layout.astro';

const someProps = {
  count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout>
  <main>
    <Counter {...someProps} client:visible>
      <h1>Hello, React!</h1>
    </Counter>
  </main>
</Layout>
